html {
    background-color: #0d0d0d;
}

body {
    background-color: #0d0d0d;
    margin: 0px;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sora:wght@500&display=swap');
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* page stuff */
/* page stuff */


@keyframes open-navbar{
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(-100%);
      }
}



.main-page-container {
    position: fixed;
    width: 100%;
    max-height: fit-content;

}


.main-page-navbar-wrapper {
    position: relative;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 10000000;
}

.main-page-navbar-logo {
    position: relative;
    background-color: transparent;
    max-width: fit-content;
    max-height: fit-content;
    border: 0px;
    cursor: pointer;
    right: 46%;
    margin: 10px;
    margin-left: 20px;
}

.main-page-navbar-logo:hover {
    cursor: pointer;
    background-color: rgb(19, 19, 19);
}



.main-page-navbar-logo img {
    position: relative;
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 70px;
}

.main-page-navbar-header {
    position: relative;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 600%;
    font-weight: 700;
    top: -105%;
    display: block;
}

#main-page-navbar-menu-icon {
    position: fixed;
    background-color: transparent;
    max-width: fit-content;
    max-height: fit-content;
    border: 0px;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;
    top: 1%;
    left: 93%;
    display: block;
}

#main-page-navbar-menu-icon img {
    position: relative;
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 55px;
}

#desktop-navbar-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 13px;
    background-color: transparent;
    width: 35%;
    height: 100px;
    position: fixed;
    top: 0px;
    right: -800px;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Sora', sans-serif;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .active{
    background-color: white;
    color: black;
  }
  .active:hover{
    background-color: black;
    color: beige
  }













 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-900px);
              transform: translateX(-900px);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 0;

    }
    100% {
      -webkit-transform: translateX(-900px);
              transform: translateX(-900px);
      opacity: 1;
    }
  }











  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  




/* if screen width is under 1200px */
@media screen and (max-width: 1200px) {
    .main-page-navbar-logo {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        right: 45%;
        margin: 10px;
        margin-left: 20px;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        margin: 10px;
        margin-right: 20px;
        top: -187%;
        left: 91%;
    }

    #main-page-navbar-menu-icon img {
        position: relative;
        background-color: transparent;
        aspect-ratio: 1/1;
        height: 55px;
    }



    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 570%;
        font-weight: 700;
        top: -105%;
        display: block;
    }


}


@media screen and (max-width: 1000px) {

    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 550%;
        font-weight: 700;
        top: -103%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 90%;
        margin: 10px;
        margin-right: 20px;
        top: -186%;
    }

}


@media screen and (max-width: 900px) {

    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 520%;
        font-weight: 700;
        top: -98%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 90%;
        margin: 10px;
        margin-right: 20px;
        top: -180%;
    }

}


@media screen and (max-width: 800px) {

    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 500%;
        font-weight: 700;
        top: -97%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 89%;
        margin: 10px;
        margin-right: 20px;
        top: -175%;
    }

}


@media screen and (max-width: 600px) {
    .main-page-navbar-logo {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        right: 42%;
        margin: 10px;
        margin-left: 20px;
    }

    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 400%;
        font-weight: 700;
        top: -86.5%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 85%;
        margin: 10px;
        margin-right: 20px;
        top: -155%;
    }
}




/* if screen width is under 500px */
@media screen and (max-width: 500px) {
    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 350%;
        font-weight: 700;
        top: -75%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 85%;
        margin: 10px;
        margin-right: 20px;
        top: -135%;
    }

    #main-page-navbar-menu-icon img {
        position: relative;
        background-color: transparent;
        aspect-ratio: 1/1;
        height: 45px;
    }

    .main-page-navbar-logo {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        right: 42%;
        margin: 10px;
        margin-left: 20px;
        top: 7px;
    }

    .main-page-navbar-logo img {
        position: relative;
        background-color: transparent;
        aspect-ratio: 1/1;
        height: 60px;
    }
}



/* if screen width is under 500px */
@media screen and (max-width: 400px) {

    .main-page-navbar-header {
        position: relative;
        color: white;
        font-family: 'Sora', sans-serif;
        font-size: 350%;
        font-weight: 700;
        top: -72%;
        display: block;
    }

    #main-page-navbar-menu-icon {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        left: 315px;
        margin: 10px;
        margin-right: 20px;
        top: -135%;

    }

    #main-page-navbar-menu-icon img {
        position: relative;
        background-color: transparent;
        aspect-ratio: 1/1;
        height: 45px;

    }

    .main-page-navbar-logo {
        position: relative;
        background-color: transparent;
        max-width: fit-content;
        max-height: fit-content;
        border: 0px;
        cursor: pointer;
        right: 42%;
        margin: 10px;
        margin-left: 20px;
        top: 7px;
    }

    .main-page-navbar-logo img {
        position: relative;
        background-color: transparent;
        aspect-ratio: 1/1;
        height: 60px;
    }

}